.slick-slider{
	@apply h-full transition-shadow;
	&:hover{
		.slick-arrow{
			opacity: 1;
		}
		.sliderImage{
			@apply transition-shadow;
			box-shadow: inset -55px 0 55px -55px black, inset 55px 0 55px -55px black;
		}
	}
	div{
		@apply h-full;
	}
	.sliderImage{
		@apply bg-cover rounded-t;
		background-position: 50% 50%;
	}
	.slick-arrow{
		@apply absolute top-1/2 -translate-y-1/2 opacity-0;
		svg{
			@apply w-4 h-4;
		}
	}
	.slick-arrow.prev{
		@apply left-2
	}
	.slick-arrow.next{
		@apply right-2
	}
	.slick-dots{
		@apply absolute right-3 bottom-3 w-auto;
		li{
			@apply mx-0 h-2 w-2 mr-1;
			button{
				@apply h-2 w-2;
				&::before{
					@apply h-2 w-2 border rounded-full opacity-80;
					content:'';
					color:white;
				}
			}
		}
		li.slick-active{
			button::before{
				@apply bg-white opacity-100;
				color:white;
			}
		}
	}
}
