$width-breadcrumbs: 24px;

.layout{
    font-family: "Montserrat", sans-serif !important;
    height: 78vh;
    border-bottom: 1px solid #C7C7CF;
    @apply flex mt-4 box-border relative;
    .content {
        height: calc(78vh - $width-breadcrumbs - 9px);
        @apply flex gap-14;
    }
}

.bread-crumbs {
    @apply h-6 p-0 mb-2;
}
